* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    background-image: url(CSSImages/Home/bg.png);
    background-repeat: no-repeat;
    background-size: auto 22%;
}

.h1, h1, h3, .h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-family: GeosansLight;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: GeosansLight;
}

/* Styling the main text */
.grid_row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 0.1rem;
    padding-top: 5rem;
    padding-left: 5rem;
}

.subtitle {
    display: block;
    font-size: 2rem;
}

@media only screen and (min-width: 768px)
.paragraph {
    font-size: 1.8rem;
    margin-top: 3rem;
    max-width: 46.1rem;
}

.paragraph {
    color: #646c78;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 2.5rem;
}

.login_container {
    text-align: center;
}

.login_button {
    background: #40D4A8;
    border-color: #40D4A8;
    color: #fff;
    font-size: 1.8rem;
    padding: 1.8rem 4.6rem 1.8rem;
    border-radius: 3.2rem;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
}

.login_button:hover {
    background-color: #63E0CC;
    color: darkslategrey;
}

/* Styling the hero image */
@media only screen and (min-width: 768px)
.grid_columncontent {
    flex-basis: 50%;
    max-width: 50%;
}

.image_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}

.grid_columncontent img {
    max-height: 25.8rem;
    max-width: 26rem;
    position: relative;
    z-index: 3;
}

.ad_title {
    text-align: center;
}

.ad_content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.ad_columnleft h3 {
    text-align: center;
    display: block;
}

.ad_columnleft p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #646c78;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}
    
.ad_columnright h3 {
    text-align: center;
    position: relative;
}

.ad_columnright p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #646c78;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
} 

/* Styling the nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
    box-sizing: border-box;
}

.box {
  float: left;
  width: 20%;
  padding: 10px 0;
  background-color: none;
  text-align: center;

}

#login {
    float: right;
    padding-left: 30px;
}

.cbox {
  float: left;
  width: 20%;
  padding: 30px 0;
  background-color: none;
  text-align: center;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Styling the nav dropdown */
li.menu {
    list-style-type: none;
}

li.menu a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: GeosansLight;
  font-size: 30px;
}

li.menu a:hover, .dropdown:hover, li.dropdown:hover, .dropbtn {
  text-decoration: underline; 
}

li.dropdown {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: GeosansLight;
  font-size: 30px;
}

.linkdrop {
    text-decoration: none;
    color: black;
    font-family: GeosansLight;
    font-size: 30px;
}


/* Styling the nav links */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    text-decoration: underline;    
}

.dropdown:hover .dropdown-content {
  display: block;   
}

/* Active/Current nav link */
li.menu a.active {
    text-decoration: underline;
}

/* Styling the footer */
.footer_content {
    text-align: center;
    font-family: GeosansLight;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_buttonfooter {
    background: #fff;
    border-color: #fff;
    color: #40D4A8;
    font-size: 1.8rem;
    padding: 1.8rem 4.6rem 1.8rem;
    border-radius: 3.2rem;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
}

.login_buttonfooter:hover {
    opacity: 50%;
}

#copyright{
    position:absolute;
    color:#000;
    bottom:1px;
    left: 47%;
}

.separator {
    border-left: 2px solid #646c78;
    height: 200px;
    float: right;
}

.contact {
    margin-left: 2rem;
    margin-top: 1rem;
    padding-top: 4px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    border: 5px solid white;
    font-weight: bold;
    font-size: 1.5rem;
} 

.contact a {
    color: white;
    text-decoration: none;
}

.contact:hover {
    text-decoration: underline;
    color: white;
}

.separator img {
    padding-left: 1rem;
}

footer {
    width: 100%;
    height: 800px;
    background-image: url(CSSImages/Home/footerbanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
