<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="hero">
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" onclick="location.href='login.html'">Log In</button>
				<button type="button" class="toggle-btn" onclick="location.href='signup.html'">Sign Up</button>
			</div>
			<div class="input-group">
				<h1>About Us</h1>
				<p>We are a team of passionate individuals who aim to provide IT professionals an easier free way to produce an effective resume.
			</div>
	</div>
</body>
</html>
