<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
    <link href="Styles/mainlayout.css" rel="stylesheet" type="text/css">
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
<div class="clearfix">
<div class="cbox">
    <a class="active" href="home.htm">Insert logo</a>
</div>
    <div class="box">
        <li class="dropdown">
            <a class="linkdrop" href="templates.htm">Resume Templates</a>
                <div class="dropdown-content">
                    <a href="systemAdmin.htm">System Administration</a>
                    <a href="interRelations.htm">International Relations</a>
                    <a href="bioinformatics.htm">Bioinformatics</a>
                </div>
        </li>
    </div>
    <div class="box">
        <li class="menu"><a href="about.htm">About Us</a></li>
    </div>
    <div class="box">
        <li class="menu"><a href="contact.htm">Contact</a></li>
    </div>
    
</div>

<div class="grid_row">
	<div class="grid_columncontent">
			<h1 class="title">About Us</h1>            
			<p class="subtitle">We make creating a resume simple</p>
			<p class="paragraph">As a team, we understand that crafting a professional resume can be a daunting task for many individuals. It's not just about listing out one's work experience and education. It's about showcasing one's unique skills and accomplishments in a way that stands out to potential employers. We want to empower job seekers to create resumes that accurately represent their experiences and abilities.
				<br>
				<br>
				We are driven by a passion for democratizing access to career resources. Many job seekers don't have the financial resources to pay for expensive resume-writing services or the time to dedicate to crafting a high-quality resume. By creating a free platform for professionals to create resumes, we aim to level the playing field and provide equal opportunities for all job seekers.
				<br>
				<br>
				Ultimately, we believe that everyone deserves the opportunity to pursue their dream career. By providing a free way for professionals to create resumes, we hope to contribute to a more equitable and inclusive job market. We're excited to continue building our platform and helping job seekers land their next great opportunity.</p>
	</div>
			</div>
      </div>
    </div>
  </div>
	<div class="responsive-container-block container">
		<p class="text-blk team-head-text">
			Our Team
		</p>
		<div class="responsive-container-block">
			<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
				<div class="card">
					<div class="team-image-wrapper">
						<img class="team-member-image" src="https://media.istockphoto.com/id/877369086/photo/lion-panthera-leo-10-years-old-isolated-on-white.jpg?s=1024x1024&w=is&k=20&c=v0MNby9fCmlTVtNBeltMGQG98j3g8zvxSs0gmq8csqo=">
					</div>
					<p class="text-blk name">
						Alex Leung
					</p>
					<p class="text-blk position">
						Full Stack Developer
					</p>
					<p class="text-blk feature-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<div class="social-icons">
						<a href="https://www.twitter.com" target="_blank">
							<img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
						</a>
						<a href="https://www.facebook.com" target="_blank">
							<img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
				<div class="card">
					<div class="team-image-wrapper">
						<img class="team-member-image" src="https://www.shutterstock.com/image-illustration/big-sea-turtle-watercolor-painting-260nw-763289803.jpg">
					</div>
					<p class="text-blk name">
						Natalia Lioeng
					</p>
					<p class="text-blk position">
						Front End Developer
					</p>
					<p class="text-blk feature-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<div class="social-icons">
						<a href="https://www.twitter.com" target="_blank">
							<img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
						</a>
						<a href="https://www.facebook.com" target="_blank">
							<img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
				<div class="card">
					<div class="team-image-wrapper">
						<img class="team-member-image" src="https://reptilesmagazine.com/wp-content/uploads/data-import/0d4cb21b/crested-gecko.jpg">
					</div>
					<p class="text-blk name">
						Adam Sylvestre
					</p>
					<p class="text-blk position">
						Front End Developer
					</p>
					<p class="text-blk feature-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<div class="social-icons">
						<a href="https://www.twitter.com" target="_blank">
							<img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
						</a>
						<a href="https://www.facebook.com" target="_blank">
							<img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
				<div class="card">
					<div class="team-image-wrapper">
						<img class="team-member-image" src="https://images.pexels.com/photos/705314/pexels-photo-705314.jpeg?cs=srgb&dl=pexels-djalma-paiva-armelin-705314.jpg&fm=jpg">
					</div>
					<p class="text-blk name">
						Marlene Gonzalez
					</p>
					<p class="text-blk position">
						Front End Developer
					</p>
					<p class="text-blk feature-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<div class="social-icons">
						<a href="https://www.twitter.com" target="_blank">
							<img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
						</a>
						<a href="https://www.facebook.com" target="_blank">
							<img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
				<div class="card">
					<div class="team-image-wrapper">
						<img class="team-member-image" src="https://media.istockphoto.com/id/1399799270/photo/extreme-close-up-of-great-white-shark-looking-directly-at-camera-smiling.jpg?b=1&s=170667a&w=0&k=20&c=rN6jdN4og6v1UBlYIR3fgg2IjprUeVbKnTyHdiHdGiI=">
					</div>
					<p class="text-blk name">
						Jimmy Guo
					</p>
					<p class="text-blk position">
						Back End Developer
					</p>
					<p class="text-blk feature-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<div class="social-icons">
						<a href="https://www.twitter.com" target="_blank">
							<img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
						</a>
						<a href="https://www.facebook.com" target="_blank">
							<img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
						</a>
					</div>
				</div>
</div>
			</div>
		</div>
	</div>
	<footer>
			<img src="Styles/CSSImages/Home/footerbanner.png" style="width:100%;">
			<div class="footer_content">
					<h3>What are you waiting for? Make your Resume Quick!</h3>
					<br>
					<div class="login_container">
					<a href="login.htm" class="login_buttonfooter">Build my Resume</a>
					</div>
					<br>
					<p id="copyright">© 2023</p>
					<br>
					<a href="https://storyset.com/job">Job illustrations by Storyset</a>
			</div>
	</footer>
	</div>
</body>
</html>
