<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
    <link href="Styles/mainlayout.css" rel="stylesheet" type="text/css">
<title>Quick Online Student Resume Builder</title>
</head>
<body>
<header>
<!-- Navbar -->
<div class="clearfix">
<div class="cbox">
    <a class="active" href="home.htm">Insert logo</a>
</div>
    <div class="box">
        <li class="dropdown">
            <a class="linkdrop" href="templates.htm">Resume Templates</a>
                <div class="dropdown-content">
                    <a href="systemAdmin.htm">System Administration</a>
                    <a href="interRelations.htm">International Relations</a>
                    <a href="bioinformatics.htm">Bioinformatics</a>
                </div>
        </li>
    </div>
    <div class="box">
        <li class="menu"><a href="about.htm">About Us</a></li>
    </div>
    <div class="box">
        <li class="menu"><a href="contact.htm">Contact</a></li>
    </div>
    
    <div class="box" id="login">
        <li class="menu"><a href="login.htm">Log In</a></li>
    </div>
</div>
</header>
    
<!--Main Content -->
<div class="grid_row">
    <div class="grid_columncontent">
        <h1 class="title">Build your professional resume for Quick and Free!</h1>            
        <p class="subtitle">Fast and Easy, for students just like you</p>
        <p class="paragraph">Resume building is no easy task, especially when you're juggling college and other responsibilities- that's why we're here to help you! With our builder, you'll make a professional resume in no-time straight out of graduation.</p>
        <div class="login_container">
        <a href="login.htm" class="login_button">Build my Resume</a>
        </div>
    </div>
    <div class="grid_columnimage">
        <div class="image_wrapper">
            <img src="Images/Home/Job%20hunt-amico.png" style="width: 100%; height: auto">
        </div>
    </div>
</div>
<div class="ad_title">
    <h3>Why should you use our Resume Builder?</h3>    
</div>
<div class="ad_content">
        <div class="ad_columnleft">
            <h3>Save Money!</h3>
            <p>Our builder and services are completely free-of-charge! No more worrying about whether you have to shell out what's left of your bank account just to get some help with your resume. All we ask for you is to create an account with us to get started.</p>
        </div>
        <div class="ad_columnright">
            <img src="Images/Home/Savings-amico.png" style="width: 100%; height: auto">
        </div>
</div>
<div class="ad_content">
        <div class="ad_columnleft">
            <img src="Images/Home/Resume-pana.png" style="width: 100%; height: auto">
        </div>
    <div class="ad_columnright">
        <h3>Easy as A!</h3>
        <p>All you have to do is choose a template and answer a few questions, and we'll pop out a professional resume tailored to your chosen career where it'll be ready to be shown off in your LinkedIn and other job hunting sites.</p>
    </div>
    </div>
<div class="ad_content">
        <div class="ad_columnleft">
            <h3>Get Connected!</h3>
            <p>Our specialization in university student and fresh graduate resumes allow us to partner with universities and recruiting managers around the US, which means getting your foot in the door has never been any easier!</p>
        </div>
        <div class="ad_columnright">
            <img src="Images/Home/Resume-amico.png" style="width: 100%; height: auto">
        </div>
</div>
    <footer>
        <img src="Styles/CSSImages/Home/footerbanner.png" style="width:100%;">
        <div class="footer_content">
            <h3>What are you waiting for? Make your Resume Quick!</h3>
            <br>
            <div class="login_container">
            <a href="login.htm" class="login_buttonfooter">Build my Resume</a>
            </div>
            <br>
            <p id="copyright">© 2023</p>
            <br>
            <a href="https://storyset.com/job">Job illustrations by Storyset</a>
        </div>
    </footer>
  </body>
</html>
